.nav-bar-container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.logo-container {
  display: flex;
  font-size: 20px;
  margin-right: 20px;
}
.logo-container p {
  margin: 5px;
}
.nav-bar-container button {
  border: 1px solid rgb(173, 165, 165);
  border-radius: 8px;
  height: 35px;
  width: 180px;
  font-size: 15px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.nav-bar-container button:hover {
  background-color: azure;
  color: black;
}
.home-route {
  color: white;
}
